body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  margin: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

.container {
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #221d7a;
}

.calendar-container {
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.date {
  margin-bottom: 30px;
}

h3 {
  text-align: center;
  color: #333;
  background-color: #f2f2f7;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.day {
  text-align: center;
  background-color: #ddd;
  padding: 10px;
  border-radius: 5px;
}

.number-pre,
.number {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

.number {
  background-color: #3498db;
  color: #fff;
}

.active {
  background-color: #e74c3c;
}

@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
